Repository coding-with-dogs-2024/base-social-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Implementing more test logic
  src/components/Content/PostFeed/index.tsx
  src/components/PostCard/index.tsx
  src/components/UI/Pagination/index.tsx
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Working on checkbox styling
  src/components/UI/Form/Checkbox/Checkbox.module.scss
  src/components/UI/Form/Checkbox/Checkbox.module.scss.d.ts
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Improved style re-usability
  src/components/UI/Form/Input/Input.module.scss
  src/components/UI/Form/Radio/Radio.module.scss
  src/components/UI/Form/Radio/Radio.module.scss.d.ts
  src/components/UI/Form/Radio/index.tsx
  src/components/UI/Form/form-common.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Working on form
  src/components/Content/Registration/Registration.module.scss
  src/components/Content/Registration/index.tsx
  src/components/UI/Input/Input.module.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Refactoring input
  src/components/UI/Form/Input/index.tsx
Due: eslint --fix --max-warnings=0

Got another control working
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0

Cleanup
  package.json
  pnpm-lock.yaml
Due: none

Progress integrating checkbox
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0

Making types simpler
  src/components/Content/PostFeed/index.tsx
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Working on state
  src/components/Content/Registration/index.tsx
Due: eslint --fix --max-warnings=0

Working on test
  package.json
  pnpm-lock.yaml
  test/components/PostCard/PostComments/PostComments.fetchmock.test.tsx
Due: eslint --fix --max-warnings=0

Refactoring form components
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Checkbox/index.tsx
  src/components/UI/Form/Input/index.tsx
  src/components/UI/Form/Radio/index.tsx
Due: eslint --fix --max-warnings=0

Updating tests
  test/components/Content/Registration/Registration.test.tsx
Due: eslint --fix --max-warnings=0

Fixing eslint erro
  src/index.tsx
Due: eslint --fix --max-warnings=0

Making radio integrated with state
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Radio/index.tsx
Due: eslint --fix --max-warnings=0

Got select working
  src/components/UI/Form/Input/Input.module.scss
  src/components/UI/Form/Select/Select.module.scss
  src/components/UI/Form/Select/index.tsx
  src/components/UI/Form/form-common.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More test progress
  test/components/Content/Registration/Registration.test.tsx
Due: eslint --fix --max-warnings=0

Stubbed out tests
  src/components/Content/Registration/index.tsx
  test/components/Content/Registration/Registration.test.tsx
Due: eslint --fix --max-warnings=0

Updated .gitignore
  .gitignore
Due: none

Working on select
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Radio/index.tsx
  src/components/UI/Form/Select/Select.module.scss
  src/components/UI/Form/Select/Select.module.scss.d.ts
  src/components/UI/Form/Select/index.tsx
  src/components/UI/Form/types.ts
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Cleanup
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0

Updated eslint and lint staged configurations
  .eslintrc.cjs
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0

Finished test
  test/components/Content/Registration/Registration.test.tsx
Due: eslint --fix --max-warnings=0

Got all form inputs working
  src/components/Content/Registration/index.tsx
Due: eslint --fix --max-warnings=0

More progress with tests
  test/components/Content/Registration/Registration.test.tsx
Due: eslint --fix --max-warnings=0

More progress
  src/components/UI/Form/Radio/index.tsx
Due: eslint --fix --max-warnings=0

Fixing lockfile
  pnpm-lock.yaml
Due: none

Updated eslint
  .eslintrc.cjs
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
  stylelint --fix --max-warnings=0: any of: *.{css,scss}
