Repository coding-with-dogs-2024/base-social-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": "eslint --fix --max-warnings=0",
  "*.{css,scss}": "stylelint --fix --max-warnings=0"
}

Re-ordered posts
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Style fixes
  src/components/Content/PostFeed/PostFeed.module.scss
  src/components/UI/Button/Button.module.scss
  src/components/UI/Pagination/Pagination.module.scss
Due: stylelint --fix --max-warnings=0

Building services
  package.json
  pnpm-lock.yaml
  src/services/jsonapi/types.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0

More work on styles
  src/components/UI/Button/Button.module.scss
Due: stylelint --fix --max-warnings=0

Progress with creating buttons
  package.json
  pnpm-lock.yaml
  src/assets/styles/common.scss
  src/components/Navbar/Navbar.module.scss
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/index.tsx
  src/components/UI/Card/Card.module.scss
  src/components/UI/Pagination/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More styling changes
  src/components/Content/PostFeed/PostCard/PostCard.module.scss
  src/components/Content/PostFeed/PostCard/PostCard.module.scss.d.ts
  src/components/Content/PostFeed/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixing title spinner
  src/components/Content/PostFeed/PostCard/PostCard.module.scss
  src/components/Content/PostFeed/PostCard/index.tsx
  src/components/UI/Spinner/Ellipsis/Ellipsis.module.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Wrote spinner
  src/components/UI/Spinner/Spinner.module.scss
  src/components/UI/Spinner/Spinner.module.scss.d.ts
  src/components/UI/Spinner/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More progress with button
  src/components/UI/Button/index.tsx
Due: eslint --fix --max-warnings=0

Progress
  src/services/jsonapi/api.ts
  src/services/jsonapi/query.ts
  src/services/jsonapi/types.ts
Due: eslint --fix --max-warnings=0

More link styling
  src/assets/styles/common.scss
Due: stylelint --fix --max-warnings=0

Refactored usePagination to be generic
  src/components/Content/PostFeed/index.tsx
  src/components/common/usePagination.ts
Due: eslint --fix --max-warnings=0

More styling of the cards
  src/components/Content/PostFeed/PostCard/PostCard.module.scss
  src/components/Content/PostFeed/PostCard/PostCard.module.scss.d.ts
  src/components/Content/PostFeed/PostCard/index.tsx
  src/components/UI/Card/Card.module.scss
  src/index.html
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixing styles and fonts
  src/assets/styles/global.scss
  src/assets/styles/variables.scss
  src/components/Content/PostFeed/index.tsx
  src/components/Navbar/Navbar.module.scss
  src/components/UI/Spinner/Spinner.module.scss
  src/index.html
  src/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Adjusted title
  src/components/Content/PostFeed/PostCard/index.tsx
Due: eslint --fix --max-warnings=0

Implemented api call
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Working on spinner
  src/components/Content/PostFeed/PostCard/index.tsx
  src/components/Content/PostFeed/index.tsx
  src/components/UI/Button/Button.module.scss.d.ts
  src/components/UI/Spinner/Circle/Circle.module.scss
  src/components/UI/Spinner/Circle/Circle.module.scss.d.ts
  src/components/UI/Spinner/Circle/index.tsx
  src/components/UI/Spinner/Ellipsis/Ellipsis.module.scss
  src/components/UI/Spinner/Ellipsis/Ellipsis.module.scss.d.ts
  src/components/UI/Spinner/Ellipsis/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Making link styles more re-usable
  src/assets/styles/common.scss
  src/components/Content/PostFeed/PostCard/index.tsx
  src/components/Navbar/Navbar.module.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Adjusted styles of suspense wrapper
  src/components/UI/LazySuspenseWrapper/Fallback.module.scss
  src/components/UI/LazySuspenseWrapper/Fallback.module.scss.d.ts
  src/components/UI/LazySuspenseWrapper/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Refactor
  src/components/Cards/PostCard/PostCard.module.scss
  src/components/Cards/PostCard/PostCard.module.scss.d.ts
  src/components/Cards/PostCard/index.tsx
  src/components/Content/PostFeed/index.tsx
  src/components/Content/UserProfile/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Type refactoring
  src/services/jsonapi/types.ts
Due: eslint --fix --max-warnings=0

Small refactor
  src/components/Content/UserProfile/index.tsx
Due: eslint --fix --max-warnings=0

Progress
  package.json
Due: none

Progress with user profile
  src/components/Content/UserProfile/index.tsx
Due: eslint --fix --max-warnings=0

Styles
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss
Due: stylelint --fix --max-warnings=0

Implemented comment logic
  src/components/PostCard/PostComments/PostComments.module.scss
  src/components/PostCard/PostComments/PostComments.module.scss.d.ts
  src/components/PostCard/PostComments/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Cleanup
  src/components/UI/Button/index.tsx
Due: eslint --fix --max-warnings=0

Trying to figure out comments button
  src/components/PostCard/PostCard.module.scss
  src/components/PostCard/PostCard.module.scss.d.ts
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Working on comments
  src/components/PostCard/CommentList/index.tsx
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0

Beginning refactor
  src/components/PostCard/CommentList/index.tsx
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0

Cleanup
  src/components/UI/Pagination/usePagination.ts
Due: eslint --fix --max-warnings=0

Progress
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings=0

Progress with user profile
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss.d.ts
  src/components/Content/UserProfile/UserInfo/index.tsx
  src/components/Content/UserProfile/UserProfile.module.scss
  src/components/Content/UserProfile/UserProfile.module.scss.d.ts
  src/components/Content/UserProfile/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updated types
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss.d.ts
Due: eslint --fix --max-warnings=0

Moving over another file
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Fixing padding for links
  src/assets/styles/common.scss
Due: stylelint --fix --max-warnings=0

Setting up test typescript
  package.json
  test/tsconfig.json
Due: none

Building out user info
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss
  src/components/Content/UserProfile/UserInfo/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Moving over all registration page components
  src/components/Content/Registration/Registration.module.scss
  src/components/Content/Registration/Registration.module.scss.d.ts
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Checkbox/Checkbox.module.scss
  src/components/UI/Form/Checkbox/Checkbox.module.scss.d.ts
  src/components/UI/Form/Checkbox/index.tsx
  src/components/UI/Form/Input/Input.module.scss
  src/components/UI/Form/Input/Input.module.scss.d.ts
  src/components/UI/Form/Input/index.tsx
  src/components/UI/Form/Radio/Radio.module.scss
  src/components/UI/Form/Radio/Radio.module.scss.d.ts
  src/components/UI/Form/Radio/index.tsx
  src/components/UI/Form/Select/Select.module.scss
  src/components/UI/Form/Select/Select.module.scss.d.ts
  src/components/UI/Form/Select/index.tsx
  src/components/UI/Form/form-common.scss
  src/components/UI/Form/types.ts
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Working on user profile
  src/components/Content/UserProfile/UserProfile.module.scss
  src/components/Content/UserProfile/UserProfile.module.scss.d.ts
  src/components/Content/UserProfile/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0
