Repository coding-with-dogs-2024/base-social-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Progress with post body and comments button
  src/components/PostCard/PostCard.module.scss
  src/components/PostCard/PostCard.module.scss.d.ts
  src/components/PostCard/index.tsx
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/Button.module.scss.d.ts
  src/components/UI/Button/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updating some files
  .eslintrc.cjs
  .gitignore
Due: eslint --fix --max-warnings=0

More progress with comments view
  src/components/PostCard/CommentList/index.tsx
  src/components/PostCard/PostCard.module.scss
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Moving over more files
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/index.tsx
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/Button.module.scss.d.ts
  src/components/UI/Button/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Moving over more changes
  .eslintrc.cjs
  src/components/App.tsx
  src/services/queryClient.ts
Due: eslint --fix --max-warnings=0

Updating libs and lintstaged
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

Added lots of libs
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0

Added new types
  src/services/jsonapi/types.ts
Due: eslint --fix --max-warnings=0

More cleanup
  src/components/UI/Pagination/usePagination.ts
Due: eslint --fix --max-warnings=0

Revert "Refactor"
  src/components/Content/PostFeed/index.tsx
  src/components/Content/UserProfile/index.tsx
  src/components/PostCard/PostCard.module.scss
  src/components/PostCard/PostCard.module.scss.d.ts
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixed typo
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Moved files
  src/components/Content/PostFeed/index.tsx
  src/components/PostCard/PostCard.module.scss
  src/components/PostCard/PostCard.module.scss.d.ts
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Setting up test config
  vite.config.ts
Due: eslint --fix --max-warnings=0

Added comment loading
  src/components/PostCard/CommentList/index.tsx
  src/components/PostCard/PostComments/index.tsx
  src/components/PostCard/index.tsx
Due: eslint --fix --max-warnings=0

Updated api call
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Pulling more files over
  src/components/UI/Spinner/Circle/index.tsx
  src/components/UI/Spinner/Ellipsis/index.tsx
Due: eslint --fix --max-warnings=0

Updated styles
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss
Due: stylelint --fix --max-warnings=0

Got all styling working
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss
  src/components/Content/UserProfile/UserInfo/UserInfo.module.scss.d.ts
  src/components/Content/UserProfile/UserInfo/index.tsx
  src/components/Content/UserProfile/UserProfile.module.scss
  src/components/Content/UserProfile/index.tsx
  src/components/UI/Card/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Building user profile
  src/components/Content/UserProfile/UserProfile.module.scss
  src/components/Content/UserProfile/UserProfile.module.scss.d.ts
  src/components/Content/UserProfile/index.tsx
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updating paths
  src/index.tsx
  src/routes/index.tsx
Due: eslint --fix --max-warnings=0

More test setup
  package.json
  pnpm-lock.yaml
  test/setup.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0

Adding more tests
  test/components/UI/Pagination/Pagination.test.tsx
Due: eslint --fix --max-warnings=0

Cleanup
  vite.config.ts
Due: eslint --fix --max-warnings=0

Progress
  test/components/UI/Pagination/Pagination.test.tsx
Due: eslint --fix --max-warnings=0

Beginning work on tests
  test/components/UI/Button/Button.test.ts
  test/tsconfig.json
Due: eslint --fix --max-warnings=0

More progress
  test/components/UI/Button/Button.test.tsx
Due: eslint --fix --max-warnings=0

Implemented tests
  test/components/UI/Button/Button.test.ts
  test/components/UI/Button/Button.test.tsx
Due: eslint --fix --max-warnings=0

Made eslint rules even stricter
  .eslintrc.cjs
  src/components/PostCard/index.tsx
  src/components/UI/Pagination/usePagination.ts
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Made eslint stricter
  .eslintrc.cjs
Due: eslint --fix --max-warnings=0

Enabled globals
  test/setup.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0

Working on tests
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/index.tsx
  test/components/UI/Button/Button.test.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More progress
  test/components/UI/Pagination/Pagination.test.tsx
Due: eslint --fix --max-warnings=0

Updated tests
  test/components/UI/Button/Button.test.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0

Adjusted script
  package.json
Due: none

More work on tests
  test/components/UI/Pagination/Pagination.test.tsx
Due: eslint --fix --max-warnings=0

Progress
  src/components/UI/Input/index.tsx
Due: eslint --fix --max-warnings=0

Improving form
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Input/index.tsx
Due: eslint --fix --max-warnings=0

Renamed file
  test/components/PostCard/PostComments/PostComments.test_msw.tsx
Due: eslint --fix --max-warnings=0

Stubbed out tests
  src/components/Content/PostFeed/index.tsx
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Got test to render
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
  stylelint --fix --max-warnings=0: any of: *.{css,scss}
