Repository coding-with-dogs-2024/base-social-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Tests pass
  test/components/UI/Pagination/Pagination.test.tsx
Due: eslint --fix --max-warnings=0

Progress
  test/_testutils_/reactQueryMocks.ts
  test/components/PostCard/PostComments/PostComments.injection.test.tsx
Due: eslint --fix --max-warnings=0

Refactored directory structure
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Input/Input.module.scss
  src/components/UI/Form/Input/Input.module.scss.d.ts
  src/components/UI/Form/Input/index.tsx
  src/components/UI/Form/Radio/Radio.module.scss
  src/components/UI/Form/Radio/Radio.module.scss.d.ts
  src/components/UI/Form/Radio/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Refactored services
  package.json
  pnpm-lock.yaml
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Progress
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

Test progress
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Some more progress
  src/components/UI/Spinner/Circle/index.tsx
  src/components/UI/Spinner/Ellipsis/index.tsx
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

Styling input
  src/components/Content/Registration/index.tsx
  src/components/UI/Input/Input.module.scss
  src/components/UI/Input/Input.module.scss.d.ts
  src/components/UI/Input/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Adding foundation for registration page
  src/components/Content/Registration/Registration.module.scss
  src/components/Content/Registration/Registration.module.scss.d.ts
  src/components/Content/Registration/index.tsx
  src/routes/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updating links
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Style tweak
  src/components/UI/Form/Checkbox/Checkbox.module.scss
Due: stylelint --fix --max-warnings=0

Refactoring to simplify test logic
  src/services/jsonapi/api.ts
  test/components/PostCard/PostComments/PostComments.injection.test.tsx
Due: eslint --fix --max-warnings=0

Working on setting up injection test
  src/components/PostCard/PostComments/index.tsx
  test/components/PostCard/PostComments/PostComments.injection.tsx
Due: eslint --fix --max-warnings=0

Working on form handling
  src/components/Content/Registration/index.tsx
Due: eslint --fix --max-warnings=0

Fixed type error
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

Working on test logic
  src/components/Content/PostFeed/index.tsx
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

More work on tests
  test/components/PostCard/PostComments/PostComments.injection.test.tsx
Due: eslint --fix --max-warnings=0

More progress with tests
  src/components/PostCard/index.tsx
  src/components/UI/Card/index.tsx
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Working on new test
  package.json
  pnpm-lock.yaml
  src/components/UI/Button/Button.module.scss.d.ts
  src/services/jsonapi/api.ts
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

working on more radio options
  src/components/Content/Registration/index.tsx
  src/components/UI/Input/index.tsx
  src/components/UI/Radio/Radio.module.scss
  src/components/UI/Radio/Radio.module.scss.d.ts
  src/components/UI/Radio/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updated tests
  src/components/PostCard/PostComments/index.tsx
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

Fixed style
  src/components/UI/Form/form-common.scss
Due: stylelint --fix --max-warnings=0

Progress with tests
  test/components/PostCard/PostComments/PostComments.injection.test.tsx
  test/components/PostCard/PostComments/PostComments.injection.tsx
Due: eslint --fix --max-warnings=0

Progress
  src/components/Content/Registration/index.tsx
Due: eslint --fix --max-warnings=0

Cleanup
  test/components/PostCard/PostComments/PostComments.injection.test.tsx
Due: eslint --fix --max-warnings=0

Progress
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Updated script
  package.json
Due: none

Got radio button working
  src/components/UI/Radio/Radio.module.scss
  src/components/UI/Radio/Radio.module.scss.d.ts
  src/components/UI/Radio/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixed post loading
  test/components/PostCard/PostComments/PostComments.test.tsx
Due: eslint --fix --max-warnings=0

More work on checkbox
  src/components/UI/Form/Checkbox/Checkbox.module.scss
  src/components/UI/Form/Checkbox/Checkbox.module.scss.d.ts
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Wrote custom renderer
  src/components/App.tsx
  src/services/queryClient.ts
  test/_testutils_/renderWithWrapper.tsx
Due: eslint --fix --max-warnings=0

Got more things working
  src/components/UI/Form/Checkbox/Checkbox.module.scss
  src/components/UI/Form/Input/Input.module.scss
  src/components/UI/Form/Radio/Radio.module.scss
  src/components/UI/Form/form-common.scss
Due: stylelint --fix --max-warnings=0

Working on implementation
  src/components/Content/Registration/index.tsx
  src/components/UI/Form/Input/index.tsx
Due: eslint --fix --max-warnings=0

Added test ui feature
  package.json
  pnpm-lock.yaml
Due: none

Added checkbox
  src/components/UI/Form/Checkbox/Checkbox.module.scss
  src/components/UI/Form/Checkbox/Checkbox.module.scss.d.ts
  src/components/UI/Form/Checkbox/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixed type error
  test/components/Content/PostFeed/PostFeed.test.tsx
Due: eslint --fix --max-warnings=0

Setting up more tests
  package.json
  pnpm-lock.yaml
  test/components/PostCard/PostComments/PostComments.fetchmock.test.tsx
  test/components/PostCard/PostComments/PostComments.msw.test.tsx
Due: eslint --fix --max-warnings=0

Working on input fields
  src/components/Content/Registration/Registration.module.scss
  src/components/Content/Registration/Registration.module.scss.d.ts
  src/components/Content/Registration/index.tsx
  src/components/UI/Input/Input.module.scss
  src/components/UI/Input/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updated tests
  test/components/PostCard/PostComments/PostComments.mockadapter.test.tsx
Due: eslint --fix --max-warnings=0

More eslint and ts fixes
  .eslintrc.cjs
  test/tsconfig.json
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
  stylelint --fix --max-warnings=0: any of: *.{css,scss}
