Repository coding-with-dogs-2024/base-social-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More progress
  src/components/App.tsx
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Making box shadow re-usable
  src/assets/styles/shadow.scss
  src/components/Navbar/Navbar.module.scss
Due: stylelint --fix --max-warnings=0

Adjusted pagination
  src/components/UI/Pagination/index.tsx
Due: eslint --fix --max-warnings=0

Code cleanup
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Added new api
  src/services/jsonapi/api.ts
Due: eslint --fix --max-warnings=0

Implementing more lazy and suspense stuff
  src/components/UI/LazySuspenseWrapper/index.tsx
  src/routes/index.tsx
Due: eslint --fix --max-warnings=0

Updated navbar
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/Navbar.module.scss.d.ts
  src/components/Navbar/index.tsx
  src/styles/variables.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixing more eslint settings
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0

Updated pagination changes
  src/components/UI/Pagination/usePagination.ts
Due: eslint --fix --max-warnings=0

Working on pagination logic
  package.json
  pnpm-lock.yaml
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Added query
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Progress
  src/components/Content/PostFeed/PostFeed.module.scss
  src/components/Content/PostFeed/index.tsx
  src/components/Content/index.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Progress
  src/components/Navbar/Navbar.module.scss
Due: stylelint --fix --max-warnings=0

Added new endpoint
  src/services/jsonapi/api.ts
  src/services/jsonapi/query.ts
Due: eslint --fix --max-warnings=0

Progress
  src/components/Content/PostFeed/index.tsx
  src/components/UI/Pagination/Pagination.module.scss
  src/components/UI/Pagination/Pagination.module.scss.d.ts
  src/components/UI/Pagination/index.tsx
  src/components/UI/Pagination/usePagination.ts
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Progress
  src/assets/styles/variables.scss
  src/components/Navbar/Navbar.module.scss
  src/components/UI/Button/Button.module.scss
Due: stylelint --fix --max-warnings=0

Finished pagination logic
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Fixed some query stuff
  src/components/App.tsx
Due: eslint --fix --max-warnings=0

Beginning to construct card
  src/components/Content/PostFeed/PostFeed.module.scss
  src/components/Content/PostFeed/PostFeed.module.scss.d.ts
  src/components/Content/PostFeed/index.tsx
  src/components/UI/Card/Card.module.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

More progress
  src/components/Content/PostFeed/PostFeed.module.scss.d.ts
Due: eslint --fix --max-warnings=0

Progress
  src/components/Content/PostFeed/index.tsx
  src/components/UI/Spinner/Spinner.module.scss
  src/styles/variables.scss
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Fixed styles
  src/assets/styles/global.scss
Due: stylelint --fix --max-warnings=0

Progress
  src/components/Content/Content.module.scss
Due: stylelint --fix --max-warnings=0

Fixed type error
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

More progress with sass
  src/components/UI/Button/Button.module.scss
Due: stylelint --fix --max-warnings=0

Fixed styling
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Updating cards
  src/components/Content/PostFeed/PostCard/index.tsx
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Cleanup
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Some progress with new card component
  src/components/UI/Card/Card.module.scss
  src/components/UI/Card/Card.module.scss.d.ts
  src/components/UI/Card/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Progress
  src/components/UI/Card/Card.module.scss
  src/components/UI/Card/Card.module.scss.d.ts
  src/components/UI/Card/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Updated types
  src/services/jsonapi/types.ts
Due: eslint --fix --max-warnings=0

Progress
  src/components/Content/PostFeed/PostCard/PostCard.module.scss
  src/components/Content/PostFeed/PostCard/PostCard.module.scss.d.ts
  src/components/Content/PostFeed/PostCard/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Working on pagination
  src/components/Content/PostFeed/index.tsx
  src/components/UI/Pagination/index.tsx
  src/components/UI/Pagination/types.ts
  src/components/UI/Pagination/usePagination.ts
Due: eslint --fix --max-warnings=0

Added button component
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/Button.module.scss.d.ts
  src/components/UI/Button/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Made top level pages lazy
  src/components/Content/UserProfile/index.tsx
  src/routes/index.tsx
  src/utils/namedLazy.ts
Due: eslint --fix --max-warnings=0

Added more eslint settings
  .eslintrc.cjs
Due: eslint --fix --max-warnings=0

Even more progress
  src/components/Content/index.tsx
  src/routes/index.tsx
Due: eslint --fix --max-warnings=0

More fixes
  src/components/Content/Content.module.scss
  src/components/Content/Content.module.scss.d.ts
  src/components/Content/PostFeed/PostFeed.module.scss
  src/components/Content/index.tsx
Due: eslint --fix --max-warnings=0, stylelint --fix --max-warnings=0

Memoized slicing
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Implementing pagination into post list
  src/components/Content/PostFeed/index.tsx
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,mjs,cjs,ts,tsx,mts,cts}
  stylelint --fix --max-warnings=0: any of: *.{css,scss}
